.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiButtonBase-root {
  color: white !important;
}

#root {
  overflow: hidden;
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 5px;
  width: 98%;
  margin-left: 1%;
  border-radius: 10px;
  z-index: 4;
  background: #212529 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search-container-mobile {
  width: 80%;
  height: 23vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-type-mobile {
  display: flex;
  width: 40%;
  display: flex;
  align-items: center;
  height: 6vh;
  border-radius: 10px 10px 0 0px;
  background: white;
}

.for-car-mobile,
.for-bus-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-car-mobile.active-type {
  border-radius: 10px 0 0;
}

.for-bus-mobile.active-type {
  border-radius: 0 0 10px 0;
}

.active-type {
  background: #212529;
  color: white;
}

.for-car-bus {
  width: 100%;
  width: 1;
}

.search-input-mobile {
  height: 7vh;
  display: flex;
  background: #212529;
  border-radius: 0 10px 10px 10px;
}

input#keyword {
  width: 100%;
  padding: 0 23px;
  border: 1px solid black;
  border-radius: 0 0 0 10px;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #ffc107 !important;
}

/* Mobile Responsive */
@media (max-width: 728px) {
  .heading {
    font-size: 55px;
    margin-top: 23px;
  }

  .colored-road {
    height: 230px !important;
    bottom: -144px !important;
  }

  .header-image img {
    width: 100% !important;
  }

  .information {
    flex-direction: column;
  }

  .information .image-container {
    width: 80%;
  }

  .information .image-container img {
    left: 39%;
    width: 100%;
  }

  .banner-details .image-container-banner {
    display: none;
  }

  .arrow {
    display: none;
  }

  .banner-details {
    flex-direction: column;
    justify-content: center !important;
    margin: 10vh 0;
  }

  .details-number {
    width: 80% !important;
    margin: auto;
    margin-top: 17px;
  }

  .our-numbers {
    font-size: 25px;
  }

  .number .font-type-1 {
    font-size: 40px;
  }

  .car-heading {
    padding: 26px;
  }
}

.image-container img {
  width: 100%;
}

.image-container:focus-visible {
  outline: none;
}

.slick-slide {
  transition: opacity 0.3s ease;
}

.slick-center {
  opacity: 1;
}

.slick-slide:not(.slick-center) {
  width: 50%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  line-height: 1;
  color: #000;
}

.slick-prev:before {
  content: '←';
}

.slick-track {
  display: flex !important;
  align-items: flex-end !important;
}

.slick-next:before {
  content: '→';
}